<template>
  <section class="bottom">
    <div class="infos-user">
      <h3>Nombre de produit scannés : 12</h3>
      <h3>Commande au fermier : 47%</h3>
      <h3>Produit le plus scanné : Amande</h3>
    </div>
    <div class="sign-out" @click="push('Login')">
      <i class="fal fa-sign-out-alt"></i>
      <p>Déconnexion</p>
    </div>
  </section>
</template>

<script>
export default {
  name: 'kbUserPageFooter',
  methods: {
    push(name) {
      this.$router.push({ name })
    },
  },
}
</script>

<style scoped>
.bottom {
  height: 40vh;
  margin: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom .infos-user {
  margin: 10px 10px;
  border-radius: 15px;
  background-color: #b17f4a;
}

.bottom .infos-user h3 {
  margin: 50px 10px;
}

.bottom .sign-out {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.bottom .sign-out i,
.bottom .sign-out p {
  font-size: 20px;
}

.bottom .sign-out p {
  margin-left: 10px;
  color: #30302f;
}
</style>
