<template>
  <section class="top">
    <div class="go-home">
      <i class="fas fa-home" @click="push('Home')"></i>
    </div>
    <div class="user">
      <div class="avatar">
        <img
          src="https://www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png"
          alt="avatar-png"
        />
      </div>
      <div class="name">
        <h3>{{ user.email }}</h3>
      </div>
    </div>
  </section>
</template>

<script>
/** Import */
import { mapState } from 'vuex'

export default {
  name: 'kbUserPageHeader',
  methods: {
    push(name) {
      this.$router.push({ name })
    },
  },
  computed: {
    ...mapState(['user']),
  },
}
</script>

<style scoped>
.top .go-home {
  display: flex;
  justify-content: flex-end;
}

.top .go-home i {
  width: 50px;
  height: 50px;
  margin: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #30302f;
  color: #fff;
  font-size: 25px;
  border-radius: 15px;
}

.top .user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.user .avatar img {
  width: 100px;
}
</style>
