:root {
  --main-bg-color: #efefef;
  --header-bg-color: #b17f4a;
  --text-color: #30302f;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-Light.ttf');
}

h1,
p,
button {
  color: #fff;
}

h5 {
  font-size: 14px;
}

input {
  border: none;
  font-size: 17px;
}

input:focus {
  outline: none;
}

.notyf {
  font-family: 'Ubuntu';
}
