<template>
  <div>
    <kbHomeHeader />
    <kbHomeFooter />
  </div>
</template>

<script>
import kbHomeHeader from '@/components/Home/kbHomeHeader.vue'
import kbHomeFooter from '@/components/Home/kbHomeFooter.vue'

export default {
  name: 'Home',
  components: {
    kbHomeHeader,
    kbHomeFooter,
  },
}
</script>

<style></style>
