<template>
  <div>
    <kbLoginHeader />
    <kbLoginForm />
  </div>
</template>

<script>
// Import
import kbLoginHeader from '@/components/Login/kbLoginHeader.vue'
import kbLoginForm from '@/components/Login/kbLoginForm.vue'

export default {
  name: 'Login',
  components: {
    kbLoginHeader,
    kbLoginForm,
  },
}
</script>

<style scoped></style>
