<template>
  <div class="container">
    <section class="header">
      <div class="logo" @click="push('Home')">
        <i class="fas fa-home"></i>
      </div>
    </section>
    <kbProductDetails v-if="productDetails" :product="productDetails" />
    <div v-else class="not-found">
      <h3>Aucun produit touvé :(</h3>
    </div>
  </div>
</template>

<script>
/** Import */
import kbProductDetails from '@/components/ProductDetails/kbProductDetails.vue'

export default {
  name: 'ProductDetails',
  components: {
    kbProductDetails,
  },
  data() {
    return {
      productDetails: this.$route.params.product,
    }
  },
  methods: {
    push(name) {
      this.$router.push({ name })
    },
  },
}
</script>

<style scoped>
.container .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .header .logo {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin: 50px 15px;
  background-color: #30302f;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .header .logo i {
  font-size: 20px;
}

.container .not-found {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
