<template>
  <div class="container">
    <kbUserPageHeader />
    <kbUserPageFooter />
  </div>
</template>

<script>
/** Import */
import kbUserPageHeader from '@/components/UserPage/kbUserPageHeader.vue'
import kbUserPageFooter from '@/components/UserPage/kbUserPageFooter.vue'

export default {
  name: 'UserPage',
  components: {
    kbUserPageHeader,
    kbUserPageFooter,
  },
}
</script>

<style scoped>
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
</style>
