<template>
  <section class="footer">
    <div class="left">
      <h3>Scanner</h3>
      <div class="logo" @click="openQrCodeScanner">
        <i class="fas fa-qrcode"></i>
      </div>
    </div>
    <div class="right">
      <h3>Historique</h3>
      <div class="logo">
        <i class="fas fa-history"></i>
      </div>
    </div>
  </section>
</template>

<script>
/** Import */
import { mapState } from 'vuex'
import qrCodeScanner from '@/assets/utils/qrCodeScanner'
import Request from '@/assets/utils/Request'

const { scanQrCode } = qrCodeScanner()

export default {
  name: 'kbHomeFooter',
  data() {
    return {
      request: Request(),
    }
  },
  computed: {
    ...mapState(['user']),
  },
  methods: {
    async openQrCodeScanner() {
      try {
        const url = await scanQrCode()

        const product = await this.request.get(url, {
          Authorization: `Bearer ${this.user.token}`,
        })

        this.$router.push({ name: 'ProductDetails', params: { product } })
      } catch (error) {
        console.log(error)
      }
    },
  },
}
</script>

<style scoped>
.footer {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer .left {
  margin-right: 50px;
}

.footer .left,
.footer .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .left .logo,
.footer .right .logo {
  height: 100px;
  width: 100px;
  border-radius: 0.5em;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-color);
  color: #fff;
}

.footer .left .logo i,
.footer .right .logo i {
  font-size: 50px;
}
</style>
