<template>
  <section class="sec-header">
    <div class="top">
      <div class="avatar" @click="pushToUserPage">
        <div>
          <i class="fas fa-user"></i>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="container">
        <div class="title">
          <h1>Bienvenue {{ user.email }}</h1>
        </div>
        <div class="desc">
          <p>Klub soutient les producteurs locaux et partage un idéal de vie en plein essor.</p>
        </div>
        <div class="tagline">
          <p>Ensemble, sauvons notre planète</p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
/** Import */
import { mapState } from 'vuex'

export default {
  name: 'kbHomeHeader',
  computed: {
    ...mapState(['user']),
  },
  methods: {
    pushToUserPage() {
      this.$router.push({ name: 'UserPage' })
    },
  },
}
</script>

<style scoped>
.sec-header {
  width: 100%;
  height: 60vh;
  border-radius: 0 0 60px 60px;
  display: flex;
  flex-direction: column;
  background-color: var(--header-bg-color);
}

.sec-header .top {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}

.sec-header .top .avatar {
  margin-right: 30px;
  margin-top: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-color);
  color: #fff;
}

.sec-header .container {
  width: 100%;
  height: 40vh;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec-header .container .title h1 {
  margin-top: -10px;
  color: var(--text-color);
}

.sec-header .container .desc p,
.sec-header .container .tagline p {
  color: var(--text-color);
  font-weight: bold;
}

.sec-header .container .desc {
  margin: 110px 0;
  width: 75%;
  text-align: center;
}

@media (max-height: 670px) {
  .sec-header {
    height: 65vh;
  }
}

@media (max-height: 650px) {
  .sec-header .container .title {
    margin-top: -50px;
  }

  .sec-header .container .desc {
    margin: 30px 0;
  }
}
</style>
