<template>
  <div class="container">
    <div class="top">
      <div class="label">
        <h3>{{ product.name }}</h3>
      </div>
      <div class="costKg">
        <h3>{{ product.weightKg }}€ / kg</h3>
      </div>
    </div>
    <div class="bottom">
      <div class="supplier">
        <h3>Fournisseur : JISSIER</h3>
        <h3>Pays : France</h3>
        <h3>Ville : Bobigny</h3>
      </div>
      <div class="details">
        <h3>Description : {{ product.description }}</h3>
        <h3>Référence : {{ product.reference }}</h3>
        <h3>Allergène : {{ product.allergen }}</h3>
      </div>
      <div class="review">
        <div class="infos">Note</div>
        <div v-for="(item, idx) in 5" :key="idx">
          <i class="fal fa-star"></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'kbProductDetails',
  props: {
    product: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style scoped>
h3 {
  margin: 20px;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .bottom {
  margin: 0 20px;
}

.container .bottom .supplier {
  width: 100%;
  border-radius: 15px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b17f4a;
}

.container .bottom .details {
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #b17f4a;
}

.container .bottom .details .ingredient .item-ingredient {
  margin: 0 15px;
}

.container .bottom .review {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
  font-size: 20px;
}

.container .bottom .review .infos {
  font-size: 13px;
}
</style>
