<template>
  <section class="sec-login">
    <div class="container">
      <div class="form">
        <div class="form-user">
          <p>Nom d'utilisateur</p>
          <input type="text" v-model="cred.login" />
        </div>
        <div class="form-passwd">
          <p>Mot de passe</p>
          <input type="password" v-model="cred.passwd" />
        </div>
      </div>
      <button class="btn-connect" @click="checkCred">Connexion</button>
    </div>
  </section>
</template>

<script>
// Import
import { mapActions } from 'vuex'
import Request from '@/assets/utils/Request'

export default {
  name: 'kbLoginForm',
  inject: ['notyf'],
  data() {
    return {
      cred: {
        login: '',
        passwd: '',
      },
      request: Request(),
    }
  },
  methods: {
    ...mapActions(['updateUser']),
    // check the credentials
    async checkCred() {
      const { login, passwd } = this.cred

      // close add notification
      this.notyf.dismissAll()

      try {
        const response = await this.request.post('https://klub.robinlyuong.com/api/login_check', {
          username: login,
          password: passwd,
        })

        this.updateUser(response)
        this.pushRouterToHome()
      } catch (error) {
        this.notyf.error(error.message)
      }
    },
    // push router
    pushRouterToHome() {
      this.$router.push('/home')
    },
  },
}
</script>

<style scoped>
.sec-login {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec-login .container {
  width: 100%;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec-login .container .form {
  margin: 35px 0;
}

.sec-login .container .form .form-user {
  margin-bottom: 25px;
}

.sec-login .container .form .form-user p,
.sec-login .container .form .form-passwd p {
  color: var(--text-color);
}

.sec-login .container .form .form-user input,
.sec-login .container .form .form-passwd input {
  margin-top: 10px;
  border-radius: 0.5em;
  height: 35px;
}

.sec-login .container .btn-connect {
  width: 105px;
  height: 45px;
  border-radius: 0.5em;
  font-size: 1em;
  box-shadow: none;
  background-color: var(--text-color);
  border-color: transparent;
}

@media (max-height: 540px) {
  .sec-login .container {
    margin-top: -30px;
  }

  .sec-login .container .btn-connect {
    margin-top: 5px;
  }
}

@media (max-height: 450px) {
  .sec-login .container {
    margin-top: -15px;
  }

  .sec-login .container .form .form-user input,
  .sec-login .container .form .form-passwd input {
    margin-top: 5px;
  }

  .sec-login .container .form {
    margin: 10px 0;
  }
}
</style>
