<template>
  <section class="sec-header">
    <div class="container">
      <div class="logo-klub">
        <img src="/static/img/logo-klub.png" alt="logo_klub" />
      </div>
      <div class="register">
        <p>Vous êtes nouveau ? Enregistrez-vous</p>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'kbLoginHeader',
}
</script>

<style scoped>
.sec-header {
  width: 100%;
  height: 50vh;
  border-radius: 0 0 60px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--header-bg-color);
}

.sec-header .container {
  width: 100%;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec-header .container .logo-klub {
  margin: 35px 0;
  display: flex;
  justify-content: center;
}

.sec-header .container .logo-klub img {
  width: 60%;
  height: 60%;
}

.sec-header .container .register p {
  text-align: center;
  color: var(--text-color);
}

.sec-header .container .register p {
  font-weight: bold;
}

/*-- RESPONSIVE --*/

@media (max-height: 560px) {
  .sec-header .container .register {
    font-size: 1em;
  }

  .sec-header .container .logo-klub {
    margin: 20px 0;
  }
  .sec-header .container .logo-klub img {
    width: 30%;
  }
}

@media (max-height: 420px) {
  .sec-header .container .logo-klub {
    margin: 10px 0;
  }
}
</style>
