<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
// Capacitor core
import { Plugins } from '@capacitor/core'

const { Keyboard } = Plugins

Keyboard.setAccessoryBarVisible({ isVisible: true })

export default {
  name: 'App',
}
</script>

<style>
#app {
  font-family: 'Ubuntu';
  background-color: var(--main-bg-color);
  height: 100vh;
}
</style>
